th,tr,td,table,div,p, body 
{
	margin: 0;
	padding: 0;
}
table, td, th
{
	border-collapse: collapse;
	padding: 5px 30px 5px 5px;
	margin: 10px;
}
th
{
	background-color: #56b906;
	color: #FFF;
	font-weight: normal;
	text-align: left;
	border: 1px solid #1a4b04;
	border-top: none;
}
th:nth-child(1)
{
	border-left: none;
}
th:nth-child(4)
{
	border-right: none;
}
tr:nth-child(2n)
{
	background-color: #ececd8;
}
td
{
	border-right: 1px solid white;
}

td:nth-child(1)
{
	border-left: none;
}
td:nth-child(4)
{
	border-right: none;
}
#head{
	background-color:#56B906;
	color:white; 
}

img{
	width:40px;
	height:20px;
}